*{
  margin: 0;
  padding: 0;
}

/* html ,body{
  
} */




body{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#111;
  padding: auto;
}


.card {
  /* box-shadow: 0 4px 8px 0 rgba(197, 194, 194, 0.541); */
  transition: 0.3s;
  width: 60%;
  
  background-color:#3d416d;
   height: 500px; 
   display: flex;
   flex-direction: column;
   align-items: center;
  
}

.card:hover {
  box-shadow: 0 0 6px 6px #3d416d4f;
  border-radius: 20px;
}
button:hover{
  background-color:#3d416d;
  border: 2px solid white;
  color: white;
}


#head{
  color: #eee;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;

}
/* 
.progress-bar{
  height: 40px;
  width: 80%;
  background-color: rgb(172, 166, 166);
  border-radius: 5px;
 
  margin-top: 70px;
} */



.progress-bar {
  background: rgba(255,255,255,0.1);
  border-radius: 20px 0px 0px 20px;
  position: relative;
  margin-top: 70px;
  /* border:  solid white; */
  height: 40px;
  width: 90%;
}


 

/* 
.progress-bar .progress{
  height: 100%;
  width: 0%;
  background-color:green;
  border-radius: 10px;
  box-shadow: 0 3px 10px  grey;
  transition: width 0.15s ;
} */

.progress {
  animation: load 3s normal forwards;
  /* box-shadow: 5px 5px 5px 5px #1cbfff; */
  border-radius: 20px 0px 0px 20px;
  background:#1cbfff;
  height: 100%;
  width: 0;
}


.speed-text{
 
  text-align: center;
  font-size: 3em;
  font-weight:bolder;
  color: #eee;
  margin-top: 70px;
  
}



button{
  border: none;
  outline: none;
  padding: 1em;
  color:#3d416d;
  border-radius: 20px;
  background-color: #eee;
  /* font-weight: bold; */
  cursor:pointer;
  text-transform: uppercase;
  width: 50%;
  text-align: center;
  font-size: 15px;
  margin-top: 70px;

}

.button:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
}





@media screen and (max-width: 493px) {


 
#head{
  color: #eee;
  text-align: center;
  margin-top: 20px;
  font-size: 30px;

}



.speed-text{
 
text-align: center;
font-size: 2em;
font-weight:bolder;
color: #eee;
margin-top: 50px;

}



}


@media screen and (max-width: 295px) {

#head{
  color: #eee;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;

}



.speed-text{
 
text-align: center;
font-size: 1em;
font-weight:bolder;
color: #eee;
margin-top: 50px;

}



}
